
$icon-size: 35px;
$text-primary-color: #282829;
$text-secondary-color: #9B9B9B;
$text-title-color: #333333;
$input-text-color: #8C8C8C;


// bootstrap resets font default to 16px
%text {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

%text-primary {
  @extend %text;
  color: $text-primary-color;
  font-size: 1rem;
}

%text-secondary {
  @extend %text;
  color: $text-secondary-color;
  font-size: .8125rem;
}

%text-title {
  @extend %text;
  color: $text-title-color;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

h2 {
  @extend %text-title;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

h3 {
  @extend %text-title;
  margin-bottom: 0.8rem;
}

a {
  color: #039BEF;
}

hr {
  border-top: 1px solid #EFEFEF;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.text-primary {
  @extend %text-primary;
}

.text-secondary {
  @extend %text-secondary;
}

.text-title {
  @extend %text-title;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .0rem;
  font-size: 1rem;
  line-height: 1.5;
  color: $input-text-color;
  background-color: #fff;
  background-clip: padding-box;
  border: solid 0;
  font-weight: 100;
}

.form-control:focus {
  outline: none;
  outline-width: 0;
  box-shadow: 0 0 0 0 #fff
}